version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: fiapx-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fiapx_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fiapx-app
    restart: on-failure
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=fiapx_db
      - PORT=8080
    ports:
      - "8080:8080"
    volumes:
      - .:/app

volumes:
  postgres_data:
